body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
}

h1 {
    text-align: center;
    color: orange;
}

input[type="text"] {
    width: 98%;    
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 0;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
    color:white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkorange;
}
